<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rust Web Terminal</title>
    <script src="/htmx.min.js"></script>
    <script src="/surreal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/2.11.0/bundled.min.js"></script>
    <link href="/output.css" rel="stylesheet" />
  </head>
  <body>
    <main id="main">{% block main %}{% endblock %}</main>
  </body>
</html>
